@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors */
.rect-yellow{
  border: 5px solid #f6bb19;
}

/* header */

/* main body image */

.text-color-red{
  @apply text-3xl font-bold underline text-yellow-600;
}

h1.cyellow {
  @apply text-4xl mb-12 rect-yellow px-1 py-3;
  text-align: center;
}


h2.cyellow {
  @apply text-2xl mb-12 rect-yellow px-1 py-3;
  text-align: center;
}

h3.cyellow {
  @apply text-xl mb-12 rect-yellow px-1 py-3;
  text-align: center;
}
